html{

    scroll-behavior:smooth;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{

    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.hero{
    height:100vh;
    background-color: #1f2933;
    color:white;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.hero h1{

    font-size:48px;

}

.hero p{

    font-size:20px;
    margin:10px 0;
}

.hero button{

    padding: 10px 25px;
    border:none;
    background:#38bdf8;
    color:black;
    cursor:pointer;
    border-radius:5px;
}

.navbar{
    background:#111827;
    color:white;
    padding:15px 50px;
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.logo{

    font-size:24px;
}

.navbar ul{
    list-style:none;
    display:flex;
}

.navbar ul li{

    margin-left:20px;
}

.navbar ul li a{

    text-decoration:none;
    color:white;
    font-size:16px;
}

.navbar ul li a:hover{
    color:#38bdf8;
}

.about{
    padding:80px 20px;
    background:white;
    text-align:center;
}

.about h2{
    font-size:36px;
    margin-bottom:20px;
}

.about p{

    font-size:18px;
    color:#555;
    max-width:700px;
    margin:auto;
}

.skills{

    padding:80px 20px;
    background: #f4f4f4;
    text-align:center;
}

.skills h2{

    font-size:36px;
    margin-bottom:40px;
}

.skills-container{

    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:20px;
}

.skill-card{

    background:white;
    padding:20px 40px;
    border-radius:10px;
    font-size:18px;
    font-weight:bold;
    box-shadow:0 5px 15px rgb(0,0,0,0.1)
   
    
}

.skill-card:hover {
    transform: translateY(-10px);
}

.projects{

    padding:80px 20px;
    background:white;
    text-align:center;
}

.projects h2{

    font-size:36px;
    margin-bottom:40px;
} 

.project-container{

    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:25px;
}

.project-card{

    text-align: left;

    width:300px;
    background:#f9fafb;
    padding:25px;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,0.08)

}

.project-card:hover{
     transform: translateY(-8px);
}

.project-card h3{
    margin-bottom:10px;

}

.project-card p{

    font-size:15px;
    color:#555;
    margin-bottom:15px;
}

.project-card a{
    text-decoration:none;
    background:#38bdf8;
    padding:8px 15px;
    border-radius:6px;
    color:black;
    font-weight:bold;
}

.contact{

    padding:80px 20px;
    background:#111827;
    color:white;
    text-align: center;
}

.contact h2{

    font-size:36px;
    margin-bottom:30px;
}

.contact-box p{

    font-size:18px;
    margin:10px 0;
}

.footer{

    background:#020617;
    color:#aaa;
    text-align:center;
    padding:20px;
    font-size:14px;
}

.profile-img{
    width:150px;
    height:150px;
    border-radius:50%;
    object-fit:cover;
    margin-bottom:20px;
    border:4px solid #38bdf8;
}

/*for mobile responsive*/
@media (max-width: 768px) {

    .navbar {
        flex-direction: column;
        padding: 15px;
    }

    .navbar ul {
        flex-direction: column;
        margin-top: 10px;
    }

    .navbar ul li {
        margin: 8px 0;
    }

    .hero h1 {
        font-size: 30px;
    }

    .hero p {
        font-size: 16px;
    }

    .skills-container,
    .project-container {
        flex-direction: column;
        align-items: center;
    }
}
